In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [9]:
df = pd.read_csv('Cleaned_Internet_Users.csv')
df.head(20)

,Entity,Code,Year,Cellular Subscription,Internet Users(%),No. of Internet Users,Broadband Subscription
0,Afghanistan,AFG,2005,4.68,1.22,298829,0.00
1,Afghanistan,AFG,2006,9.53,2.11,536114,0.00
2,Afghanistan,AFG,2007,17.23,1.90,492163,0.00
3,Afghanistan,AFG,2008,28.49,1.84,486261,0.00
4,Afghanistan,AFG,2009,36.98,3.55,972178,0.00
5,Afghanistan,AFG,2010,35.00,4.00,1127587,0.01
6,Afghanistan,AFG,2011,45.81,5.00,1462458,0.00
7,Afghanistan,AFG,2012,49.23,5.45,1661808,0.00
8,Afghanistan,AFG,2013,52.08,5.90,1860932,0.00
9,Afghanistan,AFG,2014,55.16,7.00,2290135,0.00
10,Afghanistan,AFG,2015,57.27,8.26,2788039,0.02
11,Afghanistan,AFG,2016,61.05,11.00,3809983,0.02
12,Afghanistan,AFG,2017,65.93,13.50,4811862,0.03
13,Afghanistan,AFG,2018,59.12,16.80,6163380,0.04
14,Afghanistan,AFG,2019,59.36,17.60,6647431,0.05
15,Afghanistan,AFG,2020,58.26,18.40,7170891,0.07
16,Albania,ALB,2004,40.57,2.42,74127,0.00
17,Albania,ALB,2005,49.57,6.04,183289,0.01
18,Albania,ALB,2006,62.35,9.61,288626,0.00
19,Albania,ALB,2007,76.55,15.04,447488,0.33